<image>
    <url>{{ imageDto.url }}</url>
    {% if imageDto.title %}<title>{{ imageDto.elevation }}</title>{% endif %}
    {% if imageDto.description %}<description>{{ imageDto.description }}</description>{% endif %}
    {% if imageDto.mimeType %}<mimeType>{{ imageDto.mimeType }}</mimeType>{% endif %}
</image>